sudo: false
language: ruby
cache: bundler
rvm:
- 2.9
install:
- bundle install
before_script:
- git config --global user.email "chxortnl@gmail.com"
- git config --global user.name "seongtaekkim"
script: bundle exec rake site:deploy --quiet
env:
  global:
    secure: xxxxxxxxxxxxxxxxxxxx
branches:
  only:
  - master
before_install:
- openssl aes-256-cbc -K $encrypted_3c0cc76efe8a_key -iv $encrypted_3c0cc76efe8a_iv
  -in travis-token.enc -out travis-token -d
